.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

ul.rooms-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 500px; /* Adjust as per your layout */
    gap: 20px; /* Space between the rooms/buttons */
}

li.room-item {
    width: calc(50% - 10px); /* Adjusting for gap */
    margin-bottom: 20px; /* Vertical space between rows */
    text-align: center;
}

button.room-button {
    background: #333; /* Dark gray background */
    border: 1px solid #fff; /* White border */
    padding: 10px 20px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: white;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Transition effect for hover */
    width: 100%; /* Make the buttons span the full width of the container */
}

button.room-button:hover {
    background-color: #555; /* Lighter gray on hover */
}

button.login-button, button.signup-button {
    background: #333; /* Dark gray background */
    border: 1px solid #fff; /* White border */
    padding: 10px 20px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: white;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Transition effect for hover */
    margin-top: 20px; /* Space between the input and the button */
    width: 100%; /* Full width */
}

button.login-button:hover, button.signup-button:hover {
    background-color: #555; /* Lighter gray on hover */
}

/* Style for the input fields */
input[type="text"], input[type="password"] {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px; /* Space between inputs */
}

.chat-container {
    display: flex;
    height: 90vh;
    width: 70%;
    margin: 5vh auto;
    flex-direction: column;
    border: 1px solid #ccc;
    overflow: hidden; /* Prevent scrolling on the container itself */
}

.content {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    height: calc(100% - 50px); /* Reserve space for chat input */
}

.chat-box {
    flex: 3;
    overflow-y: auto;
    border-right: 1px solid #ccc;
    background: white;
    padding: 1rem;
}

.users-box {
    color: seagreen;
    flex: 1;
    padding: 1rem;
    background: #f5f5f5;
}

.chat-input {
    display: flex;
    padding: 0.5rem;
    background: #f5f5f5;
    border-top: 1px solid #ccc;
    align-items: stretch; /* New property to make children stretch vertically */
}

.chat-input input {
    width: 100%; /* Ensures the input takes up all available width */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
    margin-right: 0.5rem; /* Adds a little space between the input and button */
    height: 100%;
    outline: none
    /* Takes full height of the container */
}

.chat-input button {
    padding: 0.5rem 1rem; /* Adds some padding for the button text */
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    align-self: stretch;
    outline: none /* Makes the button stretch vertically to fill the container height */
}

.message {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
}

.message-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-grow: 1;
}

.message-content strong { /* This is the username */
    margin-right: 10px; /* Some spacing between the username and the message text */
}


.message strong {
    margin-right: 10px;
}

.timestamp {
    font-size: 0.8em;
    color: grey;
    white-space: nowrap;
}

.input-box {
    flex: 1;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem; /* Ensuring that the text is large enough */
}